body {
  background-color: black;
}

.load-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product-contanier {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.product {
  padding: 20px;
  border: 2px solid rgb(105, 40, 56);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/* .button {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.product img {
  width: 200px;
  height: 200px;
}